AGEMS_SECRET_KEY=gere-uma-chave-aleatoria-longa
AGEMS_USERNAME=usuario-da-agems
AGEMS_PASSWORD=senha-da-agems
SYSTEMSAT_HASH_AUTH=hash-de-integracao
SYSTEMSAT_USERNAME=usuario-do-systemsat
SYSTEMSAT_PASSWORD=senha-do-systemsat
DATABASE_URL=postgresql://usuario:senha@host:5432/banco?sslmode=require
PORT=8080
FLASK_DEBUG=0
